{% extends "base.html.twig" %}

{% block title %}
    {{appName}}
{% endblock %}

{% block body %}
    <h1>{{appName}}</h1>

    <h3>Hello World</h3>

    <p> Welcome Here, you are on {{appName}} welcome page. If you want to go on our app 
    you can go to this url <a href="/todo">todo</a></p>

    <h4>Admin ?</h4>
    <p> Go there <a href={{path('admin_login')}}>Log In Admin Page </a> . </p>
{% endblock %}