{% extends "base.html.twig" %}

{% block title %}
    {{appName}} | LogIn Admin
{% endblock %}

{% block body %}
    <h1> {{appName}} | LogIn Admin</h1>

    <h3>Vous pouvez vous connectez</h3>

    <form>
        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Log In</button>
    </form>

{% endblock %}